body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* text-align: left; */
    
}

.content {
    flex: 1;
}

.parte-1 {
    background: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    /* border: 2px solid orange; */
    padding-left: 150px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 70px;
}

.header {
    display: flex; 
    /* padding: 12px; */
    /* border: 2px solid red; */
    align-items: center;
    justify-content: space-between;
}

.logo {
    /* border: solid yellow; */
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.links {
    display: flex;
    gap: 12px;
    width: 420px;  
    /* border: 2px solid yellow; */
    font-size: 18px;
    color: #e5e7eb;
}

.padre {
    display: flex;
    /* border: solid 2px paleturquoise;  */
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 32px;
}

.izq {
     /* border: 2px solid blue;  */
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
}

.main-title {
    display: flex;
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
    width: 350px;
}

.subtext {
    /* border: 2px solid orange; */
    width: 400px;
    font-size: 18px;
    color: #e5e7eb;
    margin: 8px 0;
}

button {
    background-color: #3882f6;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: bold;
    border-radius: 8px;
    border: solid 2px #3882f6;
}

.sign {
    display: flex;
    justify-content: center;
    width: 120px;
    background-color: #3882f6;
    border-radius: 8px;
}

.imagen {
    /* border: 2px solid green; */
    margin-left: 150px;
    display: flex;
    height: 250px;
    width: 343px;
    margin-top: 12px;
}

ul {
    list-style: none;
    margin: 0;
    padding:0;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.parte-2 {
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    padding-right: 80px;
    background-color: white;
}

.title {
    font-size: 36px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 36px;
    margin-top: 8px;
 }

.information {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 52px;
    font-size: 36px;
}

.img-2 {
    width: 200px;
    height: 200px;
    border: 5px solid blue;
    border-radius: 8px;
    margin-bottom: 8px;
}

.info{
  max-width: 200px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
    font-size: 18px;
    /* color: #e5e7eb; */
}

.parte-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 150px;
    padding-right: 80px;
    margin: 80px 0;

    background-color: #e5e7eb;
    
}


#inspirado {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    padding-top: 150px;
}

#autor {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 150px;
}

.parte-4 {
    margin-bottom: 80px;
    display: flex;
    padding-left: 150px;
    padding-right: 80px;
}

.modal {
    display: flex;
    width: 850px;
    background: #3882f6;
    color: white;
    padding: 40px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 8px;

}

.all-text {
    display: flex;
    flex-direction: column;
}

.top-part {
    font-size: 24px;    
}

.text {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up {
    font-size: 16px;
    width: 120px;
    height: 40px;
    border: solid 2px white;
    margin-left: 200px;
}

.footer {
    font-size: 18px;
    color: #e5e7eb;
    padding: 32px;
    background: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}